.addon {
  right: 1px;

  button {
    width: 44px;
  }
}

.patch {
  height: 51px;
  width: 100%;
  right: 0;
  top: -40px;
  position: absolute;
  background: white;
}

.search-contn {
  position: relative;
  height: 700px;
}

.sticky-top {
  top: -15px;
  z-index: 998;
}

.card.order {
  .card-body {
    padding: 15px 0px !important;
  }

  .icon {
    font-size: 25px;
    margin-right: 10px;
    color: #00000061;
  }
}

.stages {
  button {
    transition: all .50s;
  }
}
