<div class="container-fluid position-absolute top-0 start-0 p-0">
  <!-- Select location on map -->
  <ng-container *ngIf="showMap && newOrderStage.value === 'location'">
    <footiedrop-web-select-location-on-map [mapFor]="mapFor" class="sticky-top" [slideOut]="hideMap" (closeMap)="closeMap()"
      [address]="selectedTypeAddress" (setMapLocationToAddress)="selectAddress($event)"></footiedrop-web-select-location-on-map>
  </ng-container>

  <!-- Delivery Route Form Container -->
  <div class="container-fluid sticky-top shadow-sm px-3 pt-3 px-md-5 px-lg-5 pt-md-4 bg-white" style="z-index: 997;">
    <div class="patch"></div>
    <div class="row">
      <div class="col-12 d-flex justify-content-start align-items-center pb-3 flex-wrap">
        <!-- close button bootstrap icon -->
        <!-- <button class="btn btn-light bg-transparent border-0 ps-0" routerLink="/dashboard/orders">
          <i class="bi bi-x-lg"></i>
        </button>
        <p class="m-0 fw-medium">{{ newOrderStage.label }}</p> -->

        <div class="col-12 d-flex gap-auto px-0 flex-wrap stages justify-content-between">
          <ng-container *ngFor="let stage of newOrderStages; let i = index">
            <button type="button" (click)="goToStage(stage.value)" [class.text-green]="stage.visited"
              class="m-0 text-decoration-none fs-6 btn btn-white d-flex px-0 gap-2 border-0" matRipple>
              <div class="icon">
                <i class="bi" [ngClass]="getStageIcon(stage, i + 1)"></i>
              </div>
              {{ stage.label }}
            </button>
          </ng-container>
        </div>
      </div>
      <form *ngIf="newOrderForm && newOrderStage.value === 'location'" class="col-12" [formGroup]="newOrderForm">
        <div class="row">
          <div class="col-12" formGroupName="location">
            <div class="form-group position-relative" formGroupName="pickup">
              <!-- address form control -->
              <input type="text" autofocus class="form-control" #pickup formControlName="address"
                placeholder="Pickup Address" (input)="searchAddress('pickup')"
                (focus)="searchAddress('pickup'); pickupOnFocus()" (blur)="searchingPickup = false; pickupOnBlur()"
                (keyup)="searchingPickup = false" />
              <div
                class="addon col-auto position-absolute top-50 translate-middle-y bg-input d-flex justify-content-center align-items-center">
                <!-- clear button bootstrap icon -->
                <button *ngIf="
                    pickupAddress.length && pickupIsFocused && !searchingPickup
                  " type="button" (click)="clearAddress('pickup'); pickup.focus()"
                  class="btn btn-light bg-transparent border-0">
                  <i class="bi bi-x-circle-fill" style="color: #818181; font-size: 20px"></i>
                </button>
                <!-- Spinner when searchingPickup -->
                <button *ngIf="searchingPickup" role="status" class="btn btn-light bg-transparent border-0">
                  <div class="spinner-border text-green spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </button>
                <!-- map button bootstrap icon -->
                <button class="btn btn-light bg-transparent border-0 d-flex" type="button" (click)="openMap('pickup')">
                  <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1 4.02222C1 2.96444 1 2.43556 1.20589 2.03133C1.38698 1.67593 1.67593 1.38698 2.03133 1.20589C2.43556 1 2.96444 1 4.02222 1H14.9778C16.0356 1 16.5644 1 16.9687 1.20589C17.3241 1.38698 17.613 1.67593 17.7941 2.03133C18 2.43556 18 2.96444 18 4.02222V14.9778C18 16.0356 18 16.5644 17.7941 16.9687C17.613 17.3241 17.3241 17.613 16.9687 17.7941C16.5644 18 16.0356 18 14.9778 18H4.02222C2.96444 18 2.43556 18 2.03133 17.7941C1.67593 17.613 1.38698 17.3241 1.20589 16.9687C1 16.5644 1 16.0356 1 14.9778V4.02222Z"
                      fill="#63CAE1" stroke="black" stroke-width="1.25" stroke-linecap="round" />
                    <path
                      d="M10.4444 11.472C10.4444 13.2098 8.80205 14.4423 8.01817 14.9325C7.89634 15.0094 7.7552 15.0503 7.61111 15.0503C7.46702 15.0503 7.32588 15.0094 7.20406 14.9325C6.42017 14.4423 4.77778 13.2089 4.77778 11.472C4.77778 9.72199 6.151 8.5556 7.61111 8.5556C9.12222 8.5556 10.4444 9.72199 10.4444 11.472Z"
                      fill="#E36F00" />
                    <path
                      d="M16.1111 18L12.3333 4.3056M18 3.83337L1 5.72226M10.4444 11.472C10.4444 13.2098 8.80206 14.4423 8.01817 14.9325C7.89634 15.0094 7.7552 15.0503 7.61111 15.0503C7.46702 15.0503 7.32588 15.0094 7.20406 14.9325C6.42017 14.4423 4.77778 13.2089 4.77778 11.472C4.77778 9.72199 6.151 8.5556 7.61111 8.5556C9.12222 8.5556 10.4444 9.72199 10.4444 11.472Z"
                      stroke="black" stroke-width="1.25" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="form-group position-relative" formGroupName="delivery">
              <!-- address form control -->
              <input type="text" class="form-control" #dropoff formControlName="address" placeholder="Dropoff Address"
                (input)="searchAddress('delivery')" (focus)="searchAddress('delivery'); deliveryOnFocus()"
                (blur)="searchingDelivery = false; deliveryOnBlur()" (keyup)="searchingDelivery = false" />
              <div
                class="addon col-auto position-absolute top-50 translate-middle-y bg-input d-flex justify-content-center align-items-center">
                <!-- clear button bootstrap icon -->
                <button *ngIf="
                    deliveryAddress.length &&
                    deliveryIsFocused &&
                    !searchingDelivery
                  " type="button" (click)="clearAddress('delivery'); dropoff.focus()"
                  class="btn btn-light bg-transparent border-0">
                  <i class="bi bi-x-circle-fill" style="color: #818181; font-size: 20px"></i>
                </button>
                <!-- Spinner when searchingDelivery -->
                <button *ngIf="searchingDelivery" role="status" class="btn btn-light bg-transparent border-0">
                  <div class="spinner-border text-green spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </button>
                <!-- map button bootstrap icon -->
                <button class="btn btn-light bg-transparent border-0 d-flex" type="button" (click)="openMap('dropoff')">
                  <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1 4.02222C1 2.96444 1 2.43556 1.20589 2.03133C1.38698 1.67593 1.67593 1.38698 2.03133 1.20589C2.43556 1 2.96444 1 4.02222 1H14.9778C16.0356 1 16.5644 1 16.9687 1.20589C17.3241 1.38698 17.613 1.67593 17.7941 2.03133C18 2.43556 18 2.96444 18 4.02222V14.9778C18 16.0356 18 16.5644 17.7941 16.9687C17.613 17.3241 17.3241 17.613 16.9687 17.7941C16.5644 18 16.0356 18 14.9778 18H4.02222C2.96444 18 2.43556 18 2.03133 17.7941C1.67593 17.613 1.38698 17.3241 1.20589 16.9687C1 16.5644 1 16.0356 1 14.9778V4.02222Z"
                      fill="#63CAE1" stroke="black" stroke-width="1.25" stroke-linecap="round" />
                    <path
                      d="M10.4444 11.472C10.4444 13.2098 8.80205 14.4423 8.01817 14.9325C7.89634 15.0094 7.7552 15.0503 7.61111 15.0503C7.46702 15.0503 7.32588 15.0094 7.20406 14.9325C6.42017 14.4423 4.77778 13.2089 4.77778 11.472C4.77778 9.72199 6.151 8.5556 7.61111 8.5556C9.12222 8.5556 10.4444 9.72199 10.4444 11.472Z"
                      fill="#E36F00" />
                    <path
                      d="M16.1111 18L12.3333 4.3056M18 3.83337L1 5.72226M10.4444 11.472C10.4444 13.2098 8.80206 14.4423 8.01817 14.9325C7.89634 15.0094 7.7552 15.0503 7.61111 15.0503C7.46702 15.0503 7.32588 15.0094 7.20406 14.9325C6.42017 14.4423 4.77778 13.2089 4.77778 11.472C4.77778 9.72199 6.151 8.5556 7.61111 8.5556C9.12222 8.5556 10.4444 9.72199 10.4444 11.472Z"
                      stroke="black" stroke-width="1.25" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Location results -->
  <ng-container *ngIf="newOrderForm && newOrderStage.value === 'location'">
    <div class="container-fluid search-contn mt-md-4 px-md-5 pt-md p-3 position-relative">
      <div class="row" style="row-gap: 15px">
        <div class="col-12">
          <div class="row">
            <div class="col-12" *ngIf="foundLocations.length > 0">
              <div class="d-flex flex-column" style="gap: 10px">
                <div class="container-fluid d-flex justify-content-between align-items-center px-0">
                  <p class="m-0 fw-medium">Found locations</p>
                  <mat-divider></mat-divider>
                </div>

                <div class="container-fluid px-0">
                  <div class="row">
                    <ng-container>
                      <div class="col-12" *ngFor="let location of foundLocations">
                        <div class="card order" role="button" (click)="selectAddress(location)"
                          [class.disabled]="searchingDelivery || searchingPickup" matRipple>
                          <div class="card-body" style="gap: 10px">
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="icon">
                                <!-- location type icon using getLocationIcon helper function -->
                                <i [ngClass]="
                                    getLocationIcon(location.locationType || '')
                                  "></i>
                              </div>

                              <div class="col-auto">
                                <p class="m-0">{{ location.address }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="d-flex flex-column" style="gap: 0px">
                <div class="container-fluid d-flex justify-content-between align-items-center px-0 pb-3">
                  <p class="m-0 fw-medium">Recent locations</p>
                </div>
                <mat-divider></mat-divider>

                <div class="container-fluid px-0">
                  <div class="row">
                    <ng-container *ngIf="recentDeliveriesLocation.length > 0; else noOrders">
                      <div class="col-12" *ngFor="
                          let location of recentDeliveriesLocation
                            | addressTypeFilter : selectedType
                        ">
                        <div class="card order" role="button" (click)="selectAddress(location)"
                          [class.disabled]="searchingDelivery || searchingPickup" matRipple>
                          <div class="card-body" style="gap: 10px">
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="icon">
                                <!-- location type icon using getLocationIcon helper function -->
                                <i [ngClass]="
                                    getLocationIcon(location.locationType || '')
                                  "></i>
                              </div>

                              <div class="col-auto">
                                <p class="m-0">{{ location.address }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                    <ng-template #noOrders>
                      <div class="col-12 mt-3">
                        <div class="card">
                          <div class="card-body">
                            <p class="m-0">No deliveries yet</p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
