<div class="switch-acct">
  <p [class.active]="form.get('role')?.value === 'customer'" (click)="changeRole(false)">Customer</p>
  <footiedrop-web-switch-control
    *ngIf="form"
    [checked]="form.get('role')?.value === 'customer' ? false : true"
    (checkedChange)="changeRole($event)"
  ></footiedrop-web-switch-control>
  <p [class.active]="form.get('role')?.value === 'courier'" (click)="changeRole(true)">Courier</p>
</div>
<div class="col-12 d-flex justify-content-center align-items-center h-100">
  <div class="col-lg-10 col-12 px-1 px-lg-4">
    <form
      [formGroup]="form"
      (ngSubmit)="login()"
      class="mt-3"
      [class.loading]="loggingIn"
    >
      <div class="container-fluid ps-0 mb-3">
        <h3 class="heading">Sign In With Your {{ loginmode }}</h3>
        <p class="sub-heading">Welcome Back.</p>
      </div>
      <div *ngIf="loginmode === 'email'" class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          autofocus
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Enter your email address"
        />
        <small
          class="text-danger"
          >{{ form.get('email')?.touched && form.get('email')?.errors?.['required'] ? 'Email is required' : '' }}</small
        >
        <small
          class="text-danger"
          >{{ form.get('email')?.touched && form.get('email')?.errors?.['email'] ? 'Email is invalid' : '' }}</small
        >
      </div>
      <div *ngIf="loginmode === 'phone'" class="form-group">
        <label for="phone">Phone</label>
        <input
          footiedropWebNumbersOnly
          footiedropWebInputMask="+0 000 000-00-00"
          autofocus
          type="tel"
          class="form-control"
          id="phone"
          formControlName="phone"
          placeholder="Enter your phone number"
        />
        <small
          class="text-danger"
          >{{ form.get('phone')?.touched && form.get('phone')?.errors?.['required'] ? 'Phone is required' : '' }}</small
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="pwd-group">
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Enter your password"
            #pwdInput
          />
          <button
            type="button"
            class="btn-transparent"
            (click)="
              pwdInput.type = pwdInput.type === 'text' ? 'password' : 'text'
            "
          >
            <img
              src="assets/images/icons/{{
                pwdInput.type === 'password' ? 'eye-off' : 'eye'
              }}.svg"
              alt="eye"
              class="icon"
            />
          </button>
        </div>
        <small
          class="text-danger"
          >{{ form.get('password')?.touched && form.get('password')?.errors?.['required'] ? 'Password is required' : '' }}</small
        >
      </div>
      <div class="form-group text-end">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
      <footiedrop-web-loading-button
        buttonText="Sign In"
        [disabled]="form.invalid"
        [loading]="loggingIn"
        class="primary"
      ></footiedrop-web-loading-button>
    </form>

    <div class="container-fluid px-0 py-4 pt-5">
      <div class="d-flex justify-content-center align-items-center">
        <div class="line"></div>
        <div class="px-3 sign-in-text">Sign In With</div>
        <div class="line"></div>
      </div>

      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="col-auto d-flex justify-content-between pt-3 gap-4">
          <button
            [disabled]="loggingIn"
            type="button"
            [matTooltipPosition]="'above'"
            matTooltip="Login with Google"
            class="btn-transparent p-0"
            (click)="loginWithGoogle()"
          >
            <img
              src="assets/images/icons/google.svg"
              alt="google"
              class="icon"
            />
          </button>
          <button
            [disabled]="loggingIn"
            class="btn-transparent p-0"
            (click)="toggleLoginMode()"
            [matTooltipPosition]="'above'"
            [matTooltip]="
              loginmode === 'email' ? 'Login with phone' : 'Login with email'
            "
          >
            <img
              src="assets/images/icons/{{
                loginmode === 'email' ? 'phone' : 'email'
              }}.svg"
              alt="{{ loginmode }}"
              class="icon"
            />
          </button>
        </div>
      </div>

      <div class="col-12 text-center">
        <p class="mt-4 text-muted">
          Don't have an account?
          <a [class.disabled]="loggingIn" routerLink="/register">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
</div>
