<div class="col-12 d-flex justify-content-center align-items-center h-100">
  <div class="col-lg-10 col-12 px-1 px-lg-4">
    <form [formGroup]="form" (ngSubmit)="Signup()" class="mt-3" [class.loading]="loading">
      <div class="container-fluid ps-0 mb-3">
        <h3 class="heading">Let's Get Started!</h3>
        <p class="sub-heading">Create a new account.</p>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label for="lastName">Surname</label>
          <input type="text" class="form-control" id="lastName"
            formControlName="lastName" placeholder="Enter your surname">
          <small class="text-danger">{{ form.get('lastName')?.touched && form.get('lastName')?.errors?.['required'] ?
            'Your surname is required' : '' }}</small>
        </div>
        <div class="form-group col-6">
          <label for="middleName">Middle Name <small>(optional)</small></label>
          <input type="text" class="form-control" id="middleName"
            formControlName="middleName" placeholder="Enter your middle name">
          <small class="text-danger">{{ form.get('middleName')?.touched && form.get('middleName')?.errors?.['required'] ?
            'Your middle name is required' : '' }}</small>
        </div>
        <div class="form-group col-6">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName"
            formControlName="firstName" placeholder="Enter your first name">
          <small class="text-danger">{{ form.get('firstName')?.touched && form.get('firstName')?.errors?.['required'] ? 'Your first name is required' : '' }}</small>
        </div>
        <div class="form-group col-6">
          <label for="role">Account Type</label>
          <ng-select
            [items]="roles"
            formControlName="role"
            [searchable]="false"
            [clearable]="false"
          ></ng-select>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input footiedropWebInputMask="+0 000 000-00-00" type="tel" class="form-control" id="phone"
          formControlName="phone" placeholder="Enter your phone number">
        <small class="text-danger">{{ form.get('phone')?.touched && form.get('phone')?.errors?.['required'] ? 'Phone is required' : '' }}</small>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email"
          placeholder="Enter your email address">
        <small class="text-danger">{{ form.get('email')?.touched && form.get('email')?.errors?.['required'] ? 'Email is required' : '' }}</small>
        <small class="text-danger">{{ form.get('email')?.touched && form.get('email')?.errors?.['email'] ? 'Email is invalid' : '' }}</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="pwd-group">
          <input type="password" class="form-control" id="password" formControlName="password"
            placeholder="Enter your password" #pwdInput>
          <button type="button" class="btn-transparent"
            (click)="pwdInput.type = pwdInput.type === 'text' ? 'password' : 'text';">
            <img src="assets/images/icons/{{ pwdInput.type === 'password' ? 'eye-off' : 'eye' }}.svg" alt="eye"
              class="icon">
          </button>
        </div>
        <small class="text-danger">{{ form.get('password')?.touched && form.get('password')?.errors?.['required'] ?
          'Password is required' : '' }}</small>
      </div>
      <div class="form-group">
        <label for="confirmpassword">Confirm Password</label>
        <div class="pwd-group">
          <input type="password" class="form-control" id="confirmpassword" formControlName="confirmPassword"
            placeholder="Confirm your password" #confirmpwdInput>
          <button type="button" class="btn-transparent"
            (click)="confirmpwdInput.type = confirmpwdInput.type === 'text' ? 'password' : 'text';">
            <img src="assets/images/icons/{{ confirmpwdInput.type === 'password' ? 'eye-off' : 'eye' }}.svg" alt="eye" class="icon">
          </button>
        </div>
        <small class="text-danger">{{ form.get('confirmPassword')?.touched && form.get('password')?.errors?.['required'] ?
          'Confirm your password' : '' }}</small>
      </div>
      <footiedrop-web-loading-button buttonText="Create account" [disabled]="form.invalid" [loading]="loading"
        class="primary"></footiedrop-web-loading-button>
      <div class="form-group text-center mt-3">
        By signing up, you agree to Footiedrop’s <br>
        <a href="#">Terms of Service</a>
        and
        <a href="#">Privacy Policy</a>.
      </div>
    </form>

    <div class="container-fluid px-0 py-4 pt-5">
      <div class="d-flex justify-content-center align-items-center">
        <div class="line"></div>
        <div class="px-3 sign-in-text">Sign Up With</div>
        <div class="line"></div>
      </div>

      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="col-auto d-flex justify-content-between pt-3 gap-4">
          <button [disabled]="loading" type="button" [matTooltipPosition]="'above'" matTooltip="Login with Google"
            class="btn-transparent p-0" (click)="SignupWithGoogle()">
            <img src="assets/images/icons/google.svg" alt="google" class="icon">
          </button>
        </div>
      </div>

      <div class="col-12 text-center">
        <p class="mt-4 text-muted">Already have an account? <a [class.disabled]="loading"
            routerLink="/login">Sign In</a></p>
      </div>
    </div>
  </div>

</div>
