// fonts.scss

// Inter Regular
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/assets/fonts/inter/Inter-Regular.ttf) format('embedded-opentype');
}

// Inter Bold
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/inter/Inter-Bold.ttf) format('embedded-opentype');
}

// Inter Medium
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/inter/Inter-Medium.ttf) format('embedded-opentype');
}

// Inter SemiBold
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/assets/fonts/inter/Inter-SemiBold.ttf) format('embedded-opentype');
}

// Inter Light
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/inter/Inter-Light.ttf) format('embedded-opentype');
}

// Inter ExtraLight
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/assets/fonts/inter/Inter-ExtraLight.ttf) format('embedded-opentype');
}

// Inter Thin
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/assets/fonts/inter/Inter-Thin.ttf) format('embedded-opentype');
}

// Inter Black
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/assets/fonts/inter/Inter-Black.ttf) format('embedded-opentype');
}

// Inter ExtraBold
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/assets/fonts/inter/Inter-ExtraBold.ttf) format('embedded-opentype');
}

// Poppins Black
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/assets/fonts/poppins/Poppins-Black.ttf) format('embedded-opentype');
}

// Poppins Bold
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/poppins/Poppins-Bold.ttf) format('embedded-opentype');
}

// Poppins ExtraBold
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/assets/fonts/poppins/Poppins-ExtraBold.ttf) format('embedded-opentype');
}

// Poppins ExtraLight
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/assets/fonts/poppins/Poppins-ExtraLight.ttf) format('embedded-opentype');
}

// Poppins Light
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/poppins/Poppins-Light.ttf) format('embedded-opentype');
}

// Poppins Medium
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/poppins/Poppins-Medium.ttf) format('embedded-opentype');
}

// Poppins Regular
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/poppins/Poppins-Regular.ttf) format('embedded-opentype');
}

// Poppins SemiBold
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/assets/fonts/poppins/Poppins-SemiBold.ttf) format('embedded-opentype');
}
