header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background: #fff;
  height: 86px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    width: 8px;
    height: 100%;
    background: #fff;
  }
}

.default.header-item:nth-child(1) {
  span {
    font-weight: 700 !important;
    font-size: 20px !important;
  }
}
