<form *ngIf="form" [formGroup]="form" [class.disabled]="saving" (ngSubmit)="save()"
  class="container-fluid h-100 position-relative">
  <div class="row justify-content-between">
    <div class="form-group col-12">
      <label for="currentPassword" class="form-label">Current password</label>
      <div class="pwd-group">
        <input type="password" formControlName="currentPassword" id="currentPassword" class="form-control"
          placeholder="Enter your current password" #currentPassword>
        <button type="button" class="btn-transparent"
          (click)="currentPassword.type = currentPassword.type === 'text' ? 'password' : 'text';">
          <img src="assets/images/icons/{{ currentPassword.type === 'password' ? 'eye-off' : 'eye' }}.svg" alt="eye"
            class="icon">
        </button>
      </div>
      <small class="text-danger">{{ form.get('currentPassword')?.touched && form.get('currentPassword')?.errors?.['required']
        ? 'Your current password is required'
        : '' }}</small>
    </div>

    <div class="form-group col-12">
      <label for="newPassword" class="form-label">New password</label>
      <div class="pwd-group">
        <input type="password" formControlName="newPassword" id="newPassword" class="form-control"
          placeholder="Enter your new password" #newPassword>
        <button type="button" class="btn-transparent"
          (click)="newPassword.type = newPassword.type === 'text' ? 'password' : 'text';">
          <img src="assets/images/icons/{{ newPassword.type === 'password' ? 'eye-off' : 'eye' }}.svg" alt="eye"
            class="icon">
        </button>
      </div>
      <small class="text-danger">{{ form.get('newPassword')?.touched && form.get('newPassword')?.errors?.['required']
        ? 'Your new password is required'
        : '' }}</small>
    </div>

    <div class="form-group col-12">
      <label for="confirmNewPassword" class="form-label">Confirm password</label>
      <div class="pwd-group">
        <input type="password" formControlName="confirmNewPassword" id="confirmNewPassword" class="form-control"
          placeholder="Confirm your new password" #confirmNewPassword>
        <button type="button" class="btn-transparent"
          (click)="confirmNewPassword.type = confirmNewPassword.type === 'text' ? 'password' : 'text';">
          <img src="assets/images/icons/{{ confirmNewPassword.type === 'password' ? 'eye-off' : 'eye' }}.svg" alt="eye"
            class="icon">
        </button>
      </div>
      <small class="text-danger">{{ form.get('confirmNewPassword')?.touched && form.get('confirmNewPassword')?.errors?.['required']
        ? 'You need to confirm your new password'
        : '' }}</small>
    </div>
  </div>

  <div class="col-12 position-absolute bottom-0 start-0">
    <footiedrop-web-loading-button [buttonText]="'Save changes'" [disabled]="saving || form.invalid || !form.dirty"
      [loading]="saving"></footiedrop-web-loading-button>
  </div>
</form>
