// VARIABLES
$bg: #fafafa;
$font-color: #0f1f4d;
$cradio-border-normal: #d8d7d7;
$cradio-active: #36f;

// RESET
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

.switch--box {
  text-align: center;
  padding: 0px;
}

// *** CUSTOM SWITCH BUTTON ***
.cswitch {
  position: relative;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &--label {
    margin-left: 0.5rem;
    color: $font-color;
    user-select: none;
  }

  &--input {
    position: absolute;
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
    top: -100rem;
    left: -100rem;
  }

  &--trigger {
    position: relative;
    height: 30px;
    width: 56px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    background-color: $cradio-border-normal;

    &::after {
      content: url(/assets/images/icons/customer-icon.svg);
      position: absolute;
      height: 1.3rem;
      width: 1.3rem;
      background: #fff;
      left: 16px;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
      border-radius: 4px;
      box-shadow: 0 0px 2px #00000038;
    }
  }

  &:hover {
    .cswitch--trigger {
      background-color: transparentize($font-color, 0.8);
    }
  }
}

.cswitch input:checked ~ .cswitch--trigger {
  // box-shadow: 0 0 0.25rem 0 darken($cradio-active, 10%) inset;
  // background-color: $cradio-active;

  &::after {
    content: url(/assets/images/icons/agent-icon.svg);
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    left: calc(100% - 16px);
  }
}
