<div class="tab-content">
  <div
    id="emp_profile"
    class="pro-overview tab-pane fade show active"
    role="tabpanel"
  >
    <div class="row">
      <div class="col-12 d-flex">
        <div class="card profile-box flex-fill">
          <div class="card-body">
            <h3 class="card-title">
              Personal Information
              <a
                class="edit-icon"
                ngbTooltip="Edit Personal Information"
                ><i class="fa-solid fa-pencil"></i
              ></a>
            </h3>

            <form class="personal-info">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
