<div class="page-header" [class.m-0]="pageTitle === ''">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title" [innerHTML]="pageTitle"></h3>
      <ul *ngIf="breadcrumbs.length > 0" class="breadcrumb">
        <li *ngFor="let breadcrumb of breadcrumbs; let i = index">
          <a *ngIf="!breadcrumb.active" [routerLink]="breadcrumb.link">{{ breadcrumb.title }}</a>
          <span *ngIf="breadcrumb.active" class="active">{{ breadcrumb.title }}</span>
          <span *ngIf="i < breadcrumbs.length - 1" class="pe-1"> / </span>
        </li>
      </ul>
    </div>
  </div>
</div>
