<header class="py-3 sticky-top shadow-sm px-md-5 w-100" style="z-index: 999 !important">
  <!-- Default Header Item -->
  <ng-container *ngIf="currentPage === ''">
    <div class="header-item default">
      Welcome back, <br />
      <span class="text-capitalize">{{ capitalizeString(user ? user.firstName : '') }}</span>
    </div>
  </ng-container>

  <!-- Orders Header Item -->
  <div class="header-item">
    <span class="text-capitalize fw-normal fw-bold fs-5 d-flex justify-content-between align-items-center gap-3"
      [innerHTML]="sanitizePageName(innerPage === '' ? currentPage : innerPage)"></span>
  </div>

  <div class="header-item" *ngIf="!hideProfileIcon && !['settings'].includes(currentPage)">
    <img *ngIf="user && user.profilePicture" role="button" [mat-menu-trigger-for]="MatMenu" [src]="user.profilePicture"
      alt="Profile Icon" class="profile-icon" />
    <img *ngIf="user && !user.profilePicture" role="button" [mat-menu-trigger-for]="MatMenu" src="assets/images/icons/profile-icon.svg" alt="Profile Icon"
      class="profile-icon" />
    <!-- Use Mat Menu for dropdown -->
    <mat-menu #MatMenu class="profile-menu">
      <div mat-menu-item class="profile-menu-item" routerLink="./settings/profile">
        <span>Profile</span>
      </div>
      <div mat-menu-item class="profile-menu-item" routerLink="./settings/payment">
        <span>Payment</span>
      </div>
      <div mat-menu-item class="profile-menu-item" routerLink="./settings">
        <span>Settings</span>
      </div>
      <div mat-menu-item routerLink="/logout" class="profile-menu-item">
        <span>Logout</span>
      </div>
    </mat-menu>
  </div>
</header>
