<ng-container *ngIf="(loading$ | async) == false; else loadingTemplate">
  <ng-container *ngIf="kycRecord$ | async as record">
    <!-- Your content here -->
    <div class="card main-card mb-0 overflow-hidden border-bottom-0">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-md-12">
            <div class="profile-view">
              <div class="profile-img-wrap h-100 d-flex flex-row flex-wrap justify-content-between gap-3 gap-md-0">
                <div class="profile-img">
                  <img
                    #avatar
                    loading="lazy"
                    [src]="record.user.profilePicture"
                    (error)="handleImgError(avatar)"
                    alt="User Image"
                  />
                </div>

                <div class="col-12 text-center">
                  <!-- <h6>Status</h6> -->
                  <span
                    class="badge badge-pill text-uppercase shadow-sm p-2 fs-6"
                    [ngClass]="{
                      'bg-inverse-success': record.status === 'approved',
                      'bg-inverse-danger': record.status === 'rejected',
                      'bg-inverse-warning': record.status === 'pending'
                    }"
                    >{{ record.status }}</span
                  >
                </div>
              </div>
              <div class="profile-basic pe-0">
                <div class="row">
                  <div class="col-md-6">
                    <div class="profile-info-left">
                      <h3 class="user-name mt-3 mt-md-0 mb-0 text-capitalize">
                        {{ record.user.firstName }} {{ record.user.lastName }}
                      </h3>
                      <small class="text-muted">
                        <strong>Middle Name:</strong>
                        {{
                          record.user.middleName
                            ? record.user.middleName
                            : "N/A"
                        }}
                      </small>

                      <br />

                      <div class="small doj text-muted my-2">
                        <strong>Role:</strong> {{ record.user.role }}
                      </div>

                      <div
                        class="small doj d-flex align-items-center justify-content-md-start justify-content-center"
                      >
                        <strong>User ID:</strong>
                        <span
                          class="ms-2 d-none d-md-block"
                          [ngClass]="{ 'highlight-id': copiedUserId }"
                          >{{ record.user.id | slice : 0 : 8 }}...
                        </span>
                        <span
                          class="ms-2 d-block d-md-none"
                          [ngClass]="{ 'highlight-id': copiedUserId }"
                          >{{ record.user.id | slice : 0 : 20 }}...
                        </span>

                        <button
                          class="btn btn-sm btn-outline-secondary ms-2"
                          ngxClipboard
                          [cbContent]="record.user.id"
                          (cbOnSuccess)="onCopySuccess('user')"
                          [ngbTooltip]="
                            copiedUserId ? 'Copied!' : 'Copy User ID'
                          "
                          [autoClose]="false"
                          placement="top"
                        >
                          <i class="fa fa-copy"></i>
                        </button>
                      </div>

                      <div
                        class="small doj d-flex align-items-center justify-content-md-start justify-content-center mt-2"
                      >
                        <strong>KYC ID:</strong>
                        <span
                          class="ms-2 d-none d-md-block"
                          [ngClass]="{ 'highlight-id': copiedKycId }"
                          >{{ record.id | slice : 0 : 8 }}...
                        </span>
                        <span
                          class="ms-2 d-block d-md-none"
                          [ngClass]="{ 'highlight-id': copiedKycId }"
                          >{{ record.id | slice : 0 : 20 }}...
                        </span>

                        <button
                          class="btn btn-sm btn-outline-secondary ms-2"
                          ngxClipboard
                          [cbContent]="record.id"
                          (cbOnSuccess)="onCopySuccess('kyc')"
                          [ngbTooltip]="copiedKycId ? 'Copied!' : 'Copy KYC ID'"
                          placement="top"
                          [autoClose]="false"
                        >
                          <i class="fa fa-copy"></i>
                        </button>
                      </div>

                      <div class="small doj mt-2 text-muted">
                        <strong>User since:</strong>
                        {{ record.user.createdAt | date : "medium" }}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <ul class="kyc personal-info">
                      <li>
                        <div class="title">Progress:</div>
                        <div class="text">
                          {{ showKYCStep(record.step) }}
                        </div>
                      </li>
                      <li>
                        <div class="title">Submitted:</div>
                        <div class="text">
                          {{ record.createdAt | date : "medium" }}
                        </div>
                      </li>
                      <li>
                        <div class="title">Updated:</div>
                        <div class="text">
                          {{ record.updatedAt | date : "medium" }}
                        </div>
                      </li>
                      <li>
                        <div class="title">Selfie:</div>
                        <div class="text">
                          <!-- Fontawesome checkmark/x -->
                          <i
                            class="fa fa-{{
                              record.selfie ? 'check' : 'times'
                            }}"
                            [ngClass]="{
                              'text-success': record.selfie,
                              'text-danger': !record.selfie
                            }"
                          ></i>
                        </div>
                      </li>
                      <li>
                        <div class="title">School ID:</div>
                        <div class="text">
                          <!-- Fontawesome checkmark/x -->
                          <i
                            class="fa fa-{{
                              record.schoolID ? 'check' : 'times'
                            }}"
                            [ngClass]="{
                              'text-success': record.schoolID,
                              'text-danger': !record.schoolID
                            }"
                          ></i>
                        </div>
                      </li>
                      <li>
                        <div class="title">Passport:</div>
                        <div class="text">
                          <!-- Fontawesome checkmark/x -->
                          <i
                            class="fa fa-{{
                              record.internationalPassport ? 'check' : 'times'
                            }}"
                            [ngClass]="{
                              'text-success': record.internationalPassport,
                              'text-danger': !record.internationalPassport
                            }"
                          ></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pro-edit">
                <a
                  data-bs-target="#profile_info"
                  data-bs-toggle="modal"
                  class="edit-icon"
                  href="#"
                  ><i class="fa-solid fa-pencil"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card tab-box m-0 border-0 shadow-none">
        <div class="row user-tabs">
          <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
            <admin-app-tab
              [tabs]="tabs"
              (activeTabChange)="activeTab = $event"
            ></admin-app-tab>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<!-- Tab Content Loader Skeleton Card -->
<ng-container *ngIf="kycRecord$ | async as record; else TabLoadingTemplate">
  <!-- Tab Contents -->
  <ng-container *ngIf="(loading$ | async) === false">
    <!-- Personal Info Tab -->
    <admin-app-personal-info
      *ngIf="activeTab.content === 'personal'"
      [record]="record"
    ></admin-app-personal-info>

    <!-- KYC Info Tab -->
    <admin-app-kyc-info
      *ngIf="activeTab.content === 'kyc'"
      [record]="record"
      (editKYC)="canEditKYC = $event"
    ></admin-app-kyc-info>

    <!-- Documents Tab -->
    <admin-app-documents
      *ngIf="activeTab.content === 'documents'"
      [record]="record"
      (editDocuments)="canEditDocuments = $event"
    ></admin-app-documents>
  </ng-container>
</ng-container>

<!-- Loading Template -->
<ng-template #TabLoadingTemplate>
  <div class="card mb-0 record-skeleton bg-transparent mt-3">
    <div class="card-body">
      <ngx-skeleton-loader count="10" appearance="line"></ngx-skeleton-loader>
    </div>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <!-- Loading template here -->
  <div class="card mb-0 record-skeleton mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-view">
            <div class="profile-img-wrap">
              <div class="profile-img">
                <ngx-skeleton-loader
                  [count]="1"
                  [theme]="{
                    width: '120px',
                    height: '120px',
                    'border-radius': '50%'
                  }"
                ></ngx-skeleton-loader>
              </div>
            </div>
            <div class="profile-basic">
              <div class="row">
                <div class="col-md-6">
                  <div class="profile-info-left">
                    <h3 class="user-name m-t-0 mb-0 text-capitalize">
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{ width: '200px', height: '20px' }"
                      ></ngx-skeleton-loader>
                    </h3>
                    <h6 class="text-muted">
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{ width: '150px', height: '20px' }"
                      ></ngx-skeleton-loader>
                    </h6>
                    <small class="text-muted">
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{ width: '100px', height: '20px' }"
                      ></ngx-skeleton-loader>
                    </small>
                    <div class="staff-id d-flex">
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{
                          width: '50px',
                          height: '20px',
                          margin: '0 5px'
                        }"
                      ></ngx-skeleton-loader>
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{
                          width: '50px',
                          height: '20px',
                          margin: '0 5px'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div class="staff-id d-flex">
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{
                          width: '100px',
                          height: '20px',
                          margin: '0 5px'
                        }"
                      ></ngx-skeleton-loader>
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{
                          width: '50px',
                          height: '20px',
                          margin: '0 5px'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div class="small doj text-muted d-flex">
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{
                          width: '100px',
                          height: '20px',
                          margin: '0 5px'
                        }"
                      ></ngx-skeleton-loader>
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{
                          width: '100px',
                          height: '20px',
                          margin: '0 5px'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div class="staff-msg">
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{ width: '100px', height: '20px' }"
                      ></ngx-skeleton-loader>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <ul class="personal-info">
                    <li>
                      <div class="title">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '100px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                      <div class="text">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{
                            width: '100px',
                            height: '20px',
                          }"
                        ></ngx-skeleton-loader>
                      </div>
                    </li>
                    <li>
                      <div class="title">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '100px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                      <div class="text">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '200px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                    </li>
                    <li>
                      <div class="title">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '100px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                      <div class="text">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '100px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                    </li>
                    <li>
                      <div class="title">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '100px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                      <div class="text">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '250px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                    </li>
                    <li>
                      <div class="title">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '100px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                      <div class="text">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '50px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="pro-edit">
              <a
                data-bs-target="#profile_info"
                data-bs-toggle="modal"
                class="edit-icon"
                href="#"
                ><i class="fa-solid fa-pencil"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Action buttons fixed bottom -->
<div class="container-fluid bg-wrapper" style="z-index: 1000">
  <div class="row justify-content-center">
    <div class="col-md-8 col-12 py-3">
      <div class="row">
        <div class="col-4">
          <button
            class="btn"
            placement="top"
            style="
              padding: 15px;
              background-color: #e36f00 !important;
              color: #fff !important;
            "
            [disabled]="!canSave"
            matRipple
          >
            Save
          </button>
        </div>
        <div class="col-4">
          <button
            class="btn btn-success"
            [ngbTooltip]="'Approve KYC'"
            placement="top"
            matRipple
          >
            Approve
          </button>
        </div>
        <div class="col-4">
          <button
            class="btn btn-danger"
            [ngbTooltip]="'Reject KYC'"
            placement="top"
            matRipple
          >
            Reject
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
