<ng-container *ngIf="(loading$ | async) == false; else loadingTemplate">
  <ng-container *ngIf="kycRecord$ | async as record">
    <!-- Your content here -->
    <div class="card mb-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="profile-view">
              <div class="profile-img-wrap">
                <div class="profile-img">
                  <img
                    #avatar
                    loading="lazy"
                    [src]="record.user.profilePicture"
                    (error)="handleImgError(avatar)"
                    alt="User Image"
                  />
                </div>
              </div>
              <div class="profile-basic">
                <div class="row">
                  <div class="col-md-6">
                    <div class="profile-info-left">
                      <h3 class="user-name mt-3 mb-0 text-capitalize">
                        {{ record.user.firstName }} {{ record.user.lastName }}
                      </h3>
                      <small class="text-muted">
                        <strong>Middle Name:</strong>
                        {{
                          record.user.middleName
                            ? record.user.middleName
                            : "N/A"
                        }}
                      </small>

                      <br />

                      <div class="small doj text-muted my-2">
                        <strong>Role:</strong> {{ record.user.role }}
                      </div>

                      <div class="small doj d-flex align-items-center justify-content-md-start justify-content-center">
                        <strong>User ID:</strong>
                        <span
                          class="ms-2 d-none d-md-block"
                          [ngClass]="{ 'highlight-id': copiedUserId }"
                          >{{ record.user.id | slice : 0 : 8 }}...
                        </span>
                        <span
                          class="ms-2 d-block d-md-none"
                          [ngClass]="{ 'highlight-id': copiedUserId }"
                          >{{ record.user.id | slice : 0 : 20 }}...
                        </span>

                        <button
                          class="btn btn-sm btn-outline-secondary ms-2"
                          ngxClipboard
                          [cbContent]="record.user.id"
                          (cbOnSuccess)="onCopySuccess('user')"
                          [ngbTooltip]="
                            copiedUserId ? 'Copied!' : 'Copy User ID'
                          "
                          [autoClose]="false"
                          placement="top"
                        >
                          <i class="fa fa-copy"></i>
                        </button>
                      </div>

                      <div class="small doj d-flex align-items-center justify-content-md-start justify-content-center mt-2">
                        <strong>KYC ID:</strong>
                        <span
                          class="ms-2 d-none d-md-block"
                          [ngClass]="{ 'highlight-id': copiedKycId }"
                          >{{ record.id | slice : 0 : 8 }}...
                        </span>
                        <span
                          class="ms-2 d-block d-md-none"
                          [ngClass]="{ 'highlight-id': copiedKycId }"
                          >{{ record.id | slice : 0 : 20 }}...
                        </span>

                        <button
                          class="btn btn-sm btn-outline-secondary ms-2"
                          ngxClipboard
                          [cbContent]="record.id"
                          (cbOnSuccess)="onCopySuccess('kyc');"
                          [ngbTooltip]="copiedKycId ? 'Copied!' : 'Copy KYC ID'"
                          placement="top"
                          [autoClose]="false"
                        >
                          <i class="fa fa-copy"></i>
                        </button>
                      </div>

                      <div class="small doj mt-2 text-muted">
                        <strong>User since:</strong>
                        {{ record.user.createdAt | date : "medium" }}
                      </div>

                      <div class="d-flex justify-content-center gap-2 staff-msg mt-3">
                        <!-- Action buttons for KYC -->
                        <button class="btn btn-success">Approve</button>
                        <button class="btn btn-danger">Reject</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <ul class="personal-info">
                      <li>
                        <div class="title">Phone:</div>
                        <div class="text">
                          <a href="tel:{{ record.user.phone }}">{{
                            record.user.phone
                          }}</a>
                        </div>
                      </li>
                      <li>
                        <div class="title">Email:</div>
                        <div class="text">
                          <a href="mailto:{{ record.user.email }}">{{
                            record.user.email
                          }}</a>
                        </div>
                      </li>
                      <li>
                        <div class="title">Birthday:</div>
                        <div class="text">
                          {{
                            record.user.dob
                              ? (record.user.dob | date : "medium")
                              : "N/A"
                          }}
                        </div>
                      </li>
                      <li>
                        <div class="title">Address:</div>
                        <div
                          class="text"
                          [innerHTML]="getUserAddress(record.user)"
                        ></div>
                      </li>
                      <li>
                        <div class="title">Gender:</div>
                        <div class="text">
                          {{ record.user.gender ? record.user.gender : "N/A" }}
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pro-edit">
                <a
                  data-bs-target="#profile_info"
                  data-bs-toggle="modal"
                  class="edit-icon"
                  href="#"
                  ><i class="fa-solid fa-pencil"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="card tab-box">
      <div class="row user-tabs">
        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
          <ul class="nav nav-tabs nav-tabs-bottom" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                href="#emp_profile"
                data-bs-toggle="tab"
                class="nav-link active"
                aria-selected="true"
                role="tab"
                >Profile</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                href="#emp_projects"
                data-bs-toggle="tab"
                class="nav-link"
                aria-selected="false"
                role="tab"
                tabindex="-1"
                >Projects</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                href="#bank_statutory"
                data-bs-toggle="tab"
                class="nav-link"
                aria-selected="false"
                role="tab"
                tabindex="-1"
                >Bank &amp; Statutory
                <small class="text-danger">(Admin Only)</small></a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                href="#emp_assets"
                data-bs-toggle="tab"
                class="nav-link"
                aria-selected="false"
                role="tab"
                tabindex="-1"
                >Assets</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  </ng-container>
</ng-container>

<ng-template #loadingTemplate>
  <!-- Loading template here -->
  <div class="card mb-0 record-skeleton">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-view">
            <div class="profile-img-wrap">
              <div class="profile-img">
                <ngx-skeleton-loader
                  [count]="1"
                  [theme]="{
                    width: '120px',
                    height: '120px',
                    'border-radius': '50%'
                  }"
                ></ngx-skeleton-loader>
              </div>
            </div>
            <div class="profile-basic">
              <div class="row">
                <div class="col-md-6">
                  <div class="profile-info-left">
                    <h3 class="user-name m-t-0 mb-0 text-capitalize">
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{ width: '200px', height: '20px' }"
                      ></ngx-skeleton-loader>
                    </h3>
                    <h6 class="text-muted">
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{ width: '150px', height: '20px' }"
                      ></ngx-skeleton-loader>
                    </h6>
                    <small class="text-muted">
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{ width: '100px', height: '20px' }"
                      ></ngx-skeleton-loader>
                    </small>
                    <div class="staff-id d-flex">
                      User ID :
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{
                          width: '50px',
                          height: '20px',
                          margin: '0 5px'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div class="staff-id d-flex">
                      KYC ID :
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{
                          width: '50px',
                          height: '20px',
                          margin: '0 5px'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div class="small doj text-muted d-flex">
                      User since :
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{
                          width: '100px',
                          height: '20px',
                          margin: '0 5px'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div class="staff-msg">
                      <ngx-skeleton-loader
                        [count]="1"
                        [theme]="{ width: '100px', height: '20px' }"
                      ></ngx-skeleton-loader>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <ul class="personal-info">
                    <li>
                      <div class="title">Phone:</div>
                      <div class="text">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{
                            width: '100px',
                            height: '20px',
                          }"
                        ></ngx-skeleton-loader>
                      </div>
                    </li>
                    <li>
                      <div class="title">Email:</div>
                      <div class="text">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '200px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                    </li>
                    <li>
                      <div class="title">Birthday:</div>
                      <div class="text">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '100px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                    </li>
                    <li>
                      <div class="title">Address:</div>
                      <div class="text">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '250px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                    </li>
                    <li>
                      <div class="title">Gender:</div>
                      <div class="text">
                        <ngx-skeleton-loader
                          [count]="1"
                          [theme]="{ width: '50px', height: '20px' }"
                        ></ngx-skeleton-loader>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="pro-edit">
              <a
                data-bs-target="#profile_info"
                data-bs-toggle="modal"
                class="edit-icon"
                href="#"
                ><i class="fa-solid fa-pencil"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
