::ng-deep .record-skeleton {
  .skeleton-loader {
    margin-bottom: 0px !important;
  }
}

.personal-info {
  li {
    display: flex;
    align-items: center;
  }
}

.highlight-id {
  background-color: #ca4b24;
  color: white;
}

.main-card {
  background-color: #fffffff3;
}

.bg-wrapper {
  button {
    width: 100%;
    height: 100%;
  }
}
