<!-- Side Menu with hamburger button (use bootstrap-icons) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-end pt-3">
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation" class="nav-item d-none d-lg-block">
          <a class="nav-link" [routerLink]="['/']">
            <img src="assets/images/logos/logo-transparent-light.svg" alt="Footiedrop Logo">
          </a>
        </li>
        <li data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation" class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation" class="nav-item">
          <a class="nav-link" href="https://footiedrop.ru/contact">Contact</a>
        </li>
        <li data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Sign In</a>
        </li>
        <li data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation" class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
