$primary-palette: (
  50: #ffe9d6,
  100: #ffcba8,
  200: #ffab76,
  300: #ff8b44,
  400: #ff7521,
  500: #e36f00,
  600: #cc6400,
  700: #b55700,
  800: #9e4a00,
  900: #803600,
  A100: #ffd5c2,
  A200: #ffa699,
  A400: #ff776f,
  A700: #ff5c56,
  contrast: (50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(0, 0, 0, 0.87),
    A400: rgba(0, 0, 0, 0.87),
    A700: rgba(0, 0, 0, 0.87),
  )
);

$accent-palette: (
  50: #e0f2ef,
  100: #b3e0d7,
  200: #80ccb9,
  300: #4db89a,
  400: #26a982,
  500: #01674f,
  600: #015f48,
  700: #01543e,
  800: #014a34,
  900: #013721,
  A100: #a3ffe7,
  A200: #70ffd6,
  A400: #3dffc6,
  A700: #23ffbc,
  contrast: (50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(0, 0, 0, 0.87),
    A400: rgba(0, 0, 0, 0.87),
    A700: rgba(0, 0, 0, 0.87),
  )
);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$footiedrop-web-primary: mat.define-palette($primary-palette);
$footiedrop-web-accent: mat.define-palette($accent-palette);

// The warn palette is optional (defaults to red).
$footiedrop-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$footiedrop-web-theme: mat.define-light-theme((color: (primary: $footiedrop-web-primary,
        accent: $footiedrop-web-accent,
        warn: $footiedrop-web-warn,
      ),
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($footiedrop-web-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/";

@import "ngx-toastr/toastr";
@import "@ng-select/ng-select/themes/default.theme.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import url(assets/fonts/fonts.scss);
@import url(assets/css/animations.css);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", Roboto, "Helvetica Neue", sans-serif;
}

body.dashboard-body {
  overflow: hidden;
}

.heading {
  text-transform: capitalize;
  font-size: 20px;
  color: #000;
}

.sub-heading {
  text-transform: capitalize;
  font-size: 16px;
  color: #494949;
}

/* Form Styles */
form {
  width: 100%;

  .form-group {
    margin-bottom: 15px;
  }

  small {
    font-size: 14px !important;
  }

  &.loading {

    input,
    button,
    textarea,
    select,
    a {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

label {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  padding-bottom: 5px;
}

input,
textarea {
  font-size: 14px !important;
  border: 1px solid #ededed !important;
  padding: 15px 10px !important;
  background-color: #f7f7f7 !important;

  &::placeholder {
    color: #00000034;
  }

  &:focus,
  &:active {
    border: 1px solid #01674f57 !important;
    box-shadow: 0 0 0 0.2rem #01674f3d !important;
  }

  &.ng-invalid.ng-touched {
    border: 1px solid #ff0000 !important;

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem #ff00003d !important;
    }
  }
}

.bg-input {
  background-color: #f7f7f7 !important;
  border: 1px solid transparent !important;
  outline: none;
  border-radius: var(--bs-border-radius);
}

/* Button Styles */
.btn-primary {
  background-color: #e36f00 !important;
  color: #fff !important;
  font-size: 17px !important;
  border: none !important;
  width: 100% !important;
  font-weight: normal;
  padding: 15px !important;
  text-align: center;
  border-radius: 5px;
}

a {
  color: #01674f !important;
  font-size: 14px;
  font-weight: 500;
}

.btn-transparent {
  background-color: transparent !important;
  color: #01674f !important;
  font-size: 14px !important;
  border: none !important;
  font-weight: normal;
  padding: 15px;
  text-align: center;
}

button:disabled {
  opacity: 0.7;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.mat-mdc-menu-content {
  padding: 0 !important;
}

// Font size for laptop and desktop screens
@media (min-width: 992px) {
  .heading {
    font-size: 24px;
  }

  .sub-heading {
    font-size: 18px;
  }

  form {
    .form-group {
      margin-bottom: 20px;
    }

    label {
      font-size: 16px;
    }

    input,
    textarea {
      font-size: 14px !important;
      padding: 20px 15px !important;
    }

    .btn-primary {
      font-size: 16px !important;
      padding: 20px !important;
    }

    a {
      font-size: 16px;
    }

    .btn-transparent {
      font-size: 16px !important;
      padding: 20px;
    }
  }
}

.toast-top-center {
  top: 15px;

  .ngx-toastr {
    box-shadow: 0 0 5px #0000004d;
    font-size: 12px;

    &:hover {
      box-shadow: 0 0 5px #0000004d;
    }
  }

  // .toast-error {

  // }

  // .toast-success {

  // }
}

.orange {
  background-color: #e36f00;
}

.text-orange {
  color: #e36f00 !important;
}

.green {
  background-color: #01674f;
}

.text-green {
  color: #01674f !important;
}

.text-danger {
  transition: all 0.5s ease-in-out;
}

.red {
  background-color: #dc2836;
}

.blue {
  background-color: #0000ff;
}

.yellow {
  background-color: #ffd700;
}

.purple {
  background-color: #800080;
}

.gray {
  background-color: #808080;
}

p.status {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  width: 100%;
  border-radius: 5px;
  padding: 5px 15px;
}

div {
  .card.order {
    cursor: pointer;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
  }

  &:last-child>.card.order {
    border: none !important;
  }
}

.card.order {
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #cccccc14;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;

    img {
      width: 100%;
    }

    small {
      font-size: 14px;
      color: #848484;
    }

    .title {
      font-size: 18px;
      color: #000;
      font-weight: 500;
    }
  }

  .price {
    font-size: 18px;
    color: #000;
    font-weight: 700;
  }
}

.loading-screen {
  background-color: #01674f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.main {
  overflow-y: auto;
}

::ng-deep {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 15px !important;
  }
}

.alerts {
  a {
    font-size: inherit !important;
  }
}

.profile-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
