// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$footiedrop-web-primary: mat.define-palette(mat.$indigo-palette);
$footiedrop-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$footiedrop-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$footiedrop-web-theme: mat.define-light-theme((color: (primary: $footiedrop-web-primary,
        accent: $footiedrop-web-accent,
        warn: $footiedrop-web-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($footiedrop-web-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/';

@import "ngx-toastr/toastr";
@import "@ng-select/ng-select/themes/default.theme.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import url(assets/fonts/fonts.scss);
@import url(assets/css/animations.css);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', Roboto, "Helvetica Neue", sans-serif;
}

body.dashboard-body {
  overflow: hidden;
}

.heading {
  text-transform: capitalize;
  font-size: 20px;
  color: #000;
}

.sub-heading {
  text-transform: capitalize;
  font-size: 16px;
  color: #494949;
}

/* Form Styles */
form {
  width: 100%;

  .form-group {
    margin-bottom: 15px;
  }

  small {
    font-size: 12px !important;
  }

  &.loading {

    input,
    button,
    textarea,
    select,
    a {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

label {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  padding-bottom: 5px;
}

input {
  font-size: 14px !important;
  border: 1px solid #EDEDED !important;
  padding: 15px 10px !important;
  background-color: #F7F7F7 !important;

  &::placeholder {
    color: #00000034;
  }

  &:focus,
  &:active {
    border: 1px solid #01674f57 !important;
    box-shadow: 0 0 0 0.2rem #01674f3d !important;
  }

  &.ng-invalid.ng-touched {
    border: 1px solid #ff0000 !important;

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem #ff00003d !important;
    }
  }
}

/* Button Styles */
.btn-primary {
  background-color: #E36F00 !important;
  color: #fff !important;
  font-size: 14px !important;
  border: none !important;
  width: 100% !important;
  font-weight: normal;
  padding: 15px !important;
  text-align: center;
  border-radius: 5px;
}

a {
  color: #01674F !important;
  font-size: 14px;
  font-weight: 500;
}

.btn-transparent {
  background-color: transparent !important;
  color: #01674F !important;
  font-size: 14px !important;
  border: none !important;
  font-weight: normal;
  padding: 15px;
  text-align: center;
}

button:disabled {
  opacity: 0.7;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.mat-mdc-menu-content {
  padding: 0 !important;
}

// Font size for laptop and desktop screens
@media (min-width: 992px) {
  .heading {
    font-size: 24px;
  }

  .sub-heading {
    font-size: 18px;
  }

  form {
    .form-group {
      margin-bottom: 20px;
    }

    label {
      font-size: 16px;
    }

    input {
      font-size: 14px !important;
      padding: 20px 15px !important;
    }

    .btn-primary {
      font-size: 16px !important;
      padding: 20px !important;
    }

    a {
      font-size: 16px;
    }

    .btn-transparent {
      font-size: 16px !important;
      padding: 20px;
    }
  }
}

.toast-top-center {
  top: 15px;

  .ngx-toastr {
    box-shadow: 0 0 5px #0000004d;
    font-size: 12px;

    &:hover {
      box-shadow: 0 0 5px #0000004d;
    }
  }

  // .toast-error {

  // }

  // .toast-success {

  // }
}

.orange {
  background-color: #E36F00;
}

.text-orange {
  color: #E36F00 !important;
}

.green {
  background-color: #01674F;
}

.text-green {
  color: #01674F !important;
}

.red {
  background-color: #DC2836;
}

.blue {
  background-color: #0000FF;
}

.yellow {
  background-color: #FFD700;
}

.purple {
  background-color: #800080;
}

.gray {
  background-color: #808080;
}

p.status {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  width: 100%;
  border-radius: 5px;
  padding: 5px 15px;
}

.card.order {
  cursor: pointer;
  border: none;
  border-radius: 0;

  &::after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 1px;
    background-color: #C6C6C6;
  }

  &:hover,
  &:focus,
  &:active {
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #cccccc33;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;

    img {
      width: 100%;
    }

    small {
      font-size: 14px;
      color: #848484;
    }

    .title {
      font-size: 18px;
      color: #000;
      font-weight: 500;
    }
  }

  .price {
    font-size: 18px;
    color: #000;
    font-weight: 700;
  }
}

.loading-screen {
  background-color: #01674F;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.main {
  overflow-y: auto;
}

::ng-deep {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 15px !important;
  }
}
