<div class="map col-12 px-md-5" [class.slide-in-right]="slideIn" [class.slide-out-right]="slideOut">
  <button *ngIf="!loadingMap" (click)="closeMap.emit()" type="button" class="btn btn-close-map shadow"
    title="Close map">
    <i class="bi bi-x-lg"></i>
  </button>

  <button *ngIf="!loadingMap" type="button" class="btn btn-select-map shadow" title="Close map">
    <img src="assets/images/icons/my-location.svg" alt="current location">
  </button>

  <div class="map" *ngIf="selectedTypeAddress">
    <ya-map
    (ready)="onMapReady($event)"
    (yaclick)="selectCurrentLocation($event)"
    [state]="mapState"
    #map
    ></ya-map>
  </div>

  <div class="veil" [class.fade-out]="!loadingMap" [ngStyle]="{ 'z-index': loadingMap ? 999 : -1 }">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="spinner-border text-primary text-green" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>
