.bg {
  background-image: url(/assets/images/backgrounds/bg-static.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.veil {
  background-color: #01674f86;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    text-align: center;
    color: #fff;
    z-index: 1;
    text-align: start;
    position: relative;

    h1 {
      font-size: 3rem;
      font-weight: 900;
      margin-bottom: 1rem;
      font-family: 'Poppins', 'Inter';
    }

    .social-links {
      position: absolute;
      bottom: 15px;
      left: 5px;

      a {
        color: #fff !important;
        font-size: 1.5rem;
        margin: 0 0.5rem;
        transition: all 0.3s ease;

        &:hover {
          color: #E36F00 !important;
        }
      }
    }
  }
}
