<div class="container cancel pb-3">
  <h2 matDialogTitle class="fw-bold fs-5 text-dark">Why do you want to cancel?</h2>
  <mat-dialog-content class="mat-typography mt-2">
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group d-flex flex-column"
      [(ngModel)]="selectedOption">
      <mat-radio-button *ngFor="let option of options" class="example-radio-button" [class.active]="option === selectedOption" color="warn" [value]="option">
        {{option.viewValue}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Go Back</button>
    <button mat-flat-button color="warn" [mat-dialog-close]="selectedOption" cdkFocusInitial>Cancel</button>
  </mat-dialog-actions>
</div>
